.net-income-box {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: 100;
}

.net-income-month {
    margin: 0;
    font: 'Poppins';
    /* Added a fallback font */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.451506px;
    text-transform: capitalize;
    color: #D6D6E5;
    text-align: left;
    /* Added this line to align the text to the left */
}

.net-income-amount {
    font-size: 25px;
    margin: 10px 0;
    font: 'Poppins';
    /* Added a fallback font */
    font-style: normal;
    font-weight: 400;
    color: #D6D6E5;
    text-align: left;
}


.net-income-description {
    font-size: 14px;
    margin: 0;
    font: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #D6D6E5;
}